@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
    --dominant-color: #FFFFFF;
    --secondary-color: #202124;
    --tertiary-color: #E8EAED;
    --accent-color: #4880FF;

    --accent-color1: #C7B9FF;
    --accent-color2: #8CC6E7;
    --accent-color3: #85E0A3;
    --accent-color4: #FFC700;


    --text_color1: #000000;    
    --text_color2: #7A7A7A;
    --text_color3: #2E3646;    
    --text_color4: #5F6D7E;

    --xlarge-tittle: 6rem;
    --large-tittle: 4.5rem;
    --medium-tittle: 2.6rem;

    --small-tittle: 1.5rem;
    --p-font: 1.1rem;
    --p-font2: 1.3rem;


    --font1: 'Nunito', sans-serif; 
    --font2: 'Inter', sans-serif; 

    --regular_padding: 2.5rem

 
    box-sizing: border-box;

/*     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 */

}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, span {
  font-family: var(--font1); 
}

span{
  font-weight: 800;
}


body {
  width: 100%;
  background: var(--dominant-color);
  color: var(--secondary-color);
}

body > section {
  width: 100%;
  height: 100vh;
  padding: 1rem 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  gap: 1rem;  
  background-color: var(--dominant-color);
}

/* menu */

header {
  position: fixed;
  width: 100%; 
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 5rem;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: transparent;
  transition: all .50s ease-in-out;

}

 .logo{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;

    .menu_logo{
      font-size: var(--small-tittle);
      font-weight: 900;
      color: var(--secondary-color);
    }

    #logo_pic {
      height: 3em;
    }
}


.menu{
  display: flex;

}


.menu a{
  position: relative;
  margin: 0 1rem;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font1);
  font-size: var(--p-font);
  transition: all .50s ease;
}

.menu a:hover{
color: var(--accent-color);
 }

 .menu a.active{
  color: var(--accent-color);
   }
   
.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 1rem;
}
   
.nav-icons1{
  vertical-align: middle;
  padding: 0.5rem;
  border: 0.15rem solid black;
  background-color: var(--dominant-color);
  box-shadow: 6px 6px black;
}
   
   .nav-icons1 a{
     color: var(--text_color1);
     text-decoration: none;
     justify-content: center;
     gap: 1rem;
     display: flex;
     font-family: var(--font2);
     font-weight: 500;
     word-spacing: 0.125rem;
   }
   
   .nav-icons1 a:hover{
     color: var(--text_color3);
     text-decoration: underline;
   }
   
.ico-menu{
  color: var(--secondary-color);
  font-family: var(--font1);
  font-weight: 700;
}
   
.ico-menu i{
  font-weight: 700;
  font-size: var(--medium-tittle);
  transition: all .50s ease;
   
} 
.ico-menu i:hover{
  color: var(--accent-color);
}
   
#menu-icon{
  z-index: 10001;
  cursor: pointer;
  display: none;
}
   
 
/* sticky menu */
header.sticky{
  padding: 1rem 5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: var(--text_color1);
 }

header.sticky .logo .menu_logo{
  color: var(--tertiary-color);
}

header.sticky .menu a{
  color: var(--tertiary-color);
  font-family: var(--font1);
  font-size: var(--p-font);
  font-weight: 700;
}

header.sticky .menu a.active{
  color: var(--accent-color);
}

header.sticky .menu a:hover{
  color: var(--accent-color);
}

header.sticky .ico-menu{
  color: var(--tertiary-color);
  font-family: var(--font1);
  font-size: var(--small-tittle);
  font-weight: 700;
}

header.sticky .ico-menu:hover{
  color: var(--accent-color);

}

/*  */



.home{
  padding-top: 5rem;

/*   position: relative;
 */  
  height: 100vh;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(2,1fr);

  align-items: center;
  gap: 4rem;
}

.home-img img{
  width: 95%;
  height: auto;
}

.home-img {
  justify-content: center;
  width: 100%;
}

.home-text h1{
  font-size: var(--large-tittle);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2rem;

}

.home-text span{
  font-size: var(--large-tittle);
  font-weight: 700;
  color: var(--accent-color);

  line-height: 1.3;
  margin-bottom: 3rem;

}

.btn{
  display: inline-block;
  padding: 0.6rem 2rem;
  border-radius: 0.8rem;
  font-family: var(--font1);
  font-size: var(--small-tittle);
  font-weight: 700;
  background-color: var(--secondary-color);
  color: var(--dominant-color);
  border: none;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px;
}

.btn:hover{
  background: var(--accent-color);
  color: var(--tertiary-color);
}


.btn1:hover{
  background: var(--secondary-color);
  color: var(--tertiary-color);
  transition: all 0.3s ease-in-out;
}

.btn2{
  display: inline-block;
  margin-left: 1rem;
  
  font-family: var(--font1);
  font-size: var(--p-font);
  font-weight: 600;

  color: var(--secondary-color); 
  border-bottom: 3px solid var(--accent-color);  
  transition: all 0.5s ease-in-out;
}

.btn2 i{
  vertical-align: middle;
  padding-left:  0.2rem; 
  font-size: var(--p-font);
}

.btn2:hover{
  border-bottom: 3px solid var(--secondary-color);  transition: all 0.5s ease-in-out;
  transform: scale(1.1) translateX(12px);
}

/* Overview */

.stats{
  padding: 2.5rem 5rem;
  width: 100%;
  height: fit-content;

}

.container{
  width: 100%;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto));
  justify-content: space-evenly;
  gap: 2rem;

  text-align: center;
  align-items: center;
}

.container-box{
  padding: 2rem;
  background: #f8f8f8a4;
  border-radius: 2rem;
  min-height: 250px;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.8rem;
  border: 1.4px solid var(--text_color1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }



.container-box i{
  font-size: 4rem;
  color: var(--accent-color);

}

.container-box h3{
  font-size: var(--small-tittle);
  font-weight: 700;

}

.container-box p{
  text-align: justify;
  padding: 0.5rem;
  font-family: var(--font2);
}


.txtOver{
  text-align: center;
}

.largeTittle{
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
  font-weight: 900;
  font-style: var(--font1);
  font-size: var(--large-tittle);
  
  
}

.largeTittle span{
  font-size: var(--large-tittle);
  font-weight: 800;
  color: var(--accent-color);
  }


/* Features */

.features-overview{
  padding: 2rem 5rem;
  width: 100%;
  height: fit-content;
}

.features{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 3rem;
  height: fit-content;
  padding-top:  2rem;
  padding-bottom: 2rem;
}

.features-img img{
  width: 92%;
  height: auto;
}

.features-img{
  align-items: center;
}


.features-text h1{
  font-size: var(--xlarge-tittle);
  font-weight: 900;
  padding-left: 1.6rem; 
  color: var(--accent-color);
}

.features-text h2{
  text-transform: uppercase;
  font-size: var(--medium-tittle);
  line-height: 2.5rem;
  font-weight: 800;
}

/* .features-text:nth-child(2) h1{
  color: var(--accent-color);
} */

.features-text span{
  text-transform: uppercase;
  font-size: var(--small-tittle);
  font-weight: 600;
}

.features-text p{
  font-size: var(--p-font);
  padding-top: 1rem;
}

/* Testimonials */

.testimonial{
  height: fit-content;
  margin-bottom: 5rem;
}


.testimonial-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto));
  gap: 2rem;
  align-items: center;
  margin: 2rem 0;
}

.box{
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 10px 10px var(--text_color1);
  border: 2px solid var(--text_color1);
}


.box span{
  color: var(--accent-color);
}

.bi-quote{
  font-size: var(--small-tittle);
}

.box p{
  font-size: var(--p-font);
  font-family: var(--font2);
  margin-bottom: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.in-box{
  display: flex;
  align-items: center;
  gap: 1.5rem;

}

.box-img i{
  color: var(--dominant-color);
  font-size: 1.5rem; 
  border-radius: 3rem;
  background: var(--secondary-color);
  padding: 0.7rem 0.9rem;
}

.box-text{
  font-family: var(--font2);
}

.box-text h4{
  font-size: var(--p-font2);
  font-weight: 500;
  line-height: 1.5rem;
}

.box-text h5{
  font-size: var(--p-font);
  font-weight: 400;
  padding: 0.2rem 0 ;
  color: var(--text_color4);
}

.ratings i{
  color: var(--accent-color4);
  font-size: var(--p-font2);
}





.middle-text{
  text-align: center;
}

.middle-text h4{
  font-size: var(--p-font);
  font-weight: 700;
  color: var(--text_color4);
  text-transform: uppercase;
}

.middle-text h2{
  font-size: var(--medium-tittle);
  font-weight: 800;
  color: var(--accent-color);
}









  
/* responsivness */


@media (max-width: 1060px){
  header, 
  header.sticky{
    padding: 1rem 1.5rem;
    z-index: 1000;  
  }
  
.menu li a{
      color: var(--secondary-color);
    }

#menu-icon{
  display: initial;
}

.menu{
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 50px;
    width: 100%;
    height: 100vh;
    background: var(--dominant-color);
    transition: all 0.5s ease-in-out;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

.menu.open{
  top: 100%;

}

}

@media (max-width:1045px){
 
  }


/* @media screen and (max-width:768px){

 }
 */

