@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif; 


https://dribbble.com/shots/20284159-Social-analytics-website-interaction

https://dribbble.com/shots/18696286-SaaS-Landing-Page-Task-Management/attachments/13884368?mode=media

https://www.nopcommerce.com/en/boards/topic/60416/how-to-add-download-on-the-app-store-button-in-nopcommerce

https://www.youtube.com/watch?v=7OvBCSB2TIg

https://www.youtube.com/watch?v=Z2eOuAUSfAM

https://www.youtube.com/watch?v=G2koXNRZ4y0

https://vecta.io/nano 

*/


:root {
    --dominant-color: #FFFFFF;
    --secondary-color: #202124;
    --tertiary-color: #E8EAED;
    --accent-color: #4880FF;

    --text_color1: #000000;    
    --text_color2: #7A7A7A;
    --text_color3: #2E3646;    
    --text_color4: #5F6D7E;

    --large-tittle: 4rem;
    --medium-tittle: 2.5rem;
    --small-tittle: 1.5rem;
    --medium-p-font: 1.2rem;
    --small-p-font: 1.1rem;

    --font1: 'Nunito', sans-serif; 
    --font2: 'Inter', sans-serif; 

    --regular_padding: 2.5rem

 
    box-sizing: border-box;

/*     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 */

}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6, span {
  font-family: 'Nunito', sans-serif; 
}

body {
  width: 100%;
}

body > section {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  gap: 1rem;  
  background-color: var(--dominant-color);
}



header {
  padding: 0.6rem 2.4rem;
  position: fixed;
  width: 100%; 
  top: 0%;
  left: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dominant-color);
  transition: all .50s ease-in-out;

}

header .logo{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;

    .menu_logo{
      font-size: var(--small-tittle);
      font-weight: 900;
      color: var(--secondary-color);
    }

    #logo_pic {
      height: 3em;
    }
}

header ul {
  position: relative;
  display: flex;
}

header ul li{
    position: relative;
    list-style: none;   
}

header ul li a{
  position: relative;
  display: inline-block;
  margin: 1rem;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font1);
  font-size: var(--small-p-font);
  transition: all .50s ease;
}

header ul li a:hover{
color: var(--accent-color);
 }

/*  */
header.sticky{
  padding: 1rem 2.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: var(--text_color1);
 }

header.sticky .logo .menu_logo{
  color: var(--tertiary-color);
}


header.sticky ul li a{
  color: var(--tertiary-color);
  font-family: var(--font1);
  font-size: var(--small-p-font);
  font-weight: 700;
}

header.sticky ul li a.active{
  color: var(--accent-color);
}

header.sticky ul li a:hover{
  color: var(--accent-color);
}

/*  */

.nav-icons{
  padding: 0.5rem;
  border: 0.15rem solid black;
  background-color: var(--dominant-color);
  box-shadow: 6px 6px black;
}

.nav-icons a{
  color: var(--text_color1);
  text-decoration: none;
  justify-content: center;
  gap: 1rem;
  display: flex;
  font-family: var(--font2);
  font-weight: 500;
  word-spacing: 0.125rem;
}

.nav-icons a:hover{
  color: var(--text_color3);
  text-decoration: underline;
}


.largeTittle{
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
  font-weight: 900;
  font-style: var(--font1);
  font-size: var(--large-tittle);
  ;
}


.content {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contentBx.w50 {
  padding: inherit;
  justify-content: space-between;
  gap: 1rem;
}

.contentBx h3{
    font-size: var(--medium-tittle);
    padding-bottom: 0.1rem;
  }

.w50{
  min-width: 50%;
  align-items: center;
}

img{
  max-width: 100%;
}


/* landing hero */

#heroTittle{
  text-align: left;

}


.btnStrt{
  display: flex;
  flex-direction: row;
  /* aqui cambiar cuando se hace responsive */
  justify-content: left;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
  
}


.btn1{
  width: fit-content;
  padding: 0.8rem 1.5rem;
  border-radius: 2em;
  font-family: var(--font1);
  font-size: var(--small-p-font);
  font-weight: 600;
  background-color: var(--accent-color);
  color: var(--tertiary-color);
  border: none;
}


.btn1:hover{
  background: var(--secondary-color);
  color: var(--tertiary-color);
  transition: all 0.3s ease-in-out;
}

.btn1 i{
  padding-left:  1rem; 

}


/* google */
#google-btn{
min-width: 100%;
}


#overview{
/*  background: var(--tertiary-color);
 */
  height: 75vh; 
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text_color3);

  .alt{
    color: var(--secondary-color);
    font-weight: 600;
  }

}

.feature-list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  gap: 2rem;
} 

.cardFeat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--tertiary-color);
  padding: 1rem 2rem;  
  transition: transform .3s ease;
  border-radius: 1rem;
  border: 0.1rem solid var(--text_color4);

}

.cardFeat span{
  color: var(--secondary-color);
  font-weight: 500;

}

.cardFeat:hover{
  box-shadow: rgba(11, 81, 185, 0.349) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transform: translateY(8px);
} 

img.cardPic {
  height: 5rem;
  width: auto;
  margin-bottom: 0.5rem;
}

#feature-1{
  min-height: 100vh; 
  width: 100%;

}

.ov{
  display: flex;
  flex-direction: column;
}